[submodule "grafana/provisioning/dashboards/grafana-dashboards"]
	path = grafana/provisioning/dashboards/grafana-dashboards
	url = git@github.com:ethersphere/grafana-dashboards.git
[submodule "monBee"]
	path = monBee
	url = git@github.com:ldeffenb/monBee.git
